# Sampling User Search Terms

In [59]:
import pandas as pd
import numpy as np

In [60]:
wu = pd.read_csv("wu.csv")
wu.head()

,Decodedsearch,Frequency,# of hits with all keyword anywhere,# of hits with all keyword and at least one in subject but not all in title and abstract,# of the 1st fifty hits from the second search with at least one keyword in subject only,Unnamed: 5
0,hildegard of bingen,153,330.0,48.0,NaN,"4, 7, 9, 10, 11, 12, 13, 14, fifteen, 16, 17, ..."
1,josquin des prez,105,NaN,NaN,NaN,NaN
2,"pt ""article in a periodical""",100,NaN,NaN,NaN,NaN
3,dvorak symphony no. 9,72,NaN,NaN,NaN,NaN
4,guillaume de machaut,59,NaN,NaN,NaN,NaN

### Total number of searches

In [9]:
sum(wu['Frequency'])

21704

### Remove EBSCO tagged searches

In [62]:
new_wu = wu[(wu.iloc[:,0].str.startswith('ti ') == False)&
            (wu.iloc[:,0].str.startswith('pt ') == False)&
            (wu.iloc[:,0].str.startswith('su ') == False)&
            (wu.iloc[:,0].str.startswith('tx ') == False)&
            (wu.iloc[:,0].str.startswith('jt ') == False)&
            (wu.iloc[:,0].str.startswith('au ') == False)&
            (wu.iloc[:,0].str.startswith('an ') == False)&
            (wu.iloc[:,0].str.startswith('dd ') == False)&
            (wu.iloc[:,0].str.startswith('ab ') == False)&
            (wu.iloc[:,0].str.startswith('jn ') == False)&
            (wu.iloc[:,0].str.startswith('sw ') == False)&
            (wu.iloc[:,0].str.startswith('ep ') == False)&
            (wu.iloc[:,0].str.startswith('ft ') == False)]

### New Total searches

In [43]:
sum(new_wu['Frequency'])

17537

In [47]:
new_wu.head()

,Decodedsearch,Frequency,# of hits with all keyword anywhere,# of hits with all keyword and at least one in subject but not all in title and abstract,# of the 1st fifty hits from the second search with at least one keyword in subject only,Unnamed: 5
0,hildegard of bingen,153,330.0,48.0,NaN,"4, 7, 9, 10, 11, 12, 13, 14, fifteen, 16, 17, ..."
1,josquin des prez,105,NaN,NaN,NaN,NaN
3,dvorak symphony no. 9,72,NaN,NaN,NaN,NaN
4,guillaume de machaut,59,NaN,NaN,NaN,NaN
5,mozart,55,NaN,NaN,NaN,NaN

### Sample 382 weighted by the frequency column

In [56]:
sample = new_wu.sample(n=382,weights=np.array(new_wu['Frequency']))

In [57]:
sample.to_csv('new_wu_sample_382.csv')